[user]
    name = Siddharth Singh
    email = sid@siddharthsingh77.in

[core]
    excludesFile = ~/.gitignore_global

[alias]
    l = log --oneline --graph --decorate --pretty=line
    la = l --all
    st = status -sb
    co = checkout
    ci = commit
    cian = commit --amend --no-edit
    root = rev-parse --show-toplevel
    news = !git fetch && git log --format=full @..@{u}
    dt = difftool
    plrb = pull --rebase

[pretty]
    line = "%C(auto)%h %<|(72,trunc)%s %C(green)(%cd) %C(blue)<%an>%C(auto)%d"

[pull] 
    ff = only

[log]
    date=format:"%a %d/%m/%Y %H:%M"

[merge]
    tool = diffconflicts
    conflictstyle = diff3

[diff]
    tool = nvimdiff2
    algorithm = patience

[difftool "nvimdiff2"]
    cmd = nvim -d $LOCAL $REMOTE
    trustExitCode = true

[grep]
    lineNumber = true
    fallbackToNoIndex = true
    column = true

[mergetool "diffconflicts"]
    cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
    keepBackup = false
