[user]
    name = Siddharth Singh
    email = sid@siddharthsingh77.in

[core]
    excludesFile = ~/.gitignore_global

[alias]
    l = log --oneline --graph --decorate --pretty=line
    la = l --all
    ls = l --stat
    st = status -sb
    co = checkout
    ci = commit
    cian = commit --amend --no-edit
    ff = merge --ff
    noff = merge --no-ff
    unstage = reset HEAD --
    gr = grep -C 1 -I
    root = rev-parse --show-toplevel
    shs = show --format=fuller --stat
    showtool = ! "st() { if [ -z $1 ]; then c='HEAD'; else c=$1; fi; git difftool $c~..$c; }; st" # show what has changed in parent/child using git difftool
    news = !git fetch && git log --format=full @..@{u}
    dt = difftool
    plrb = pull --rebase

[pretty]
    line = "%C(auto)%h %<|(60,trunc)%s %C(green)(%cd) %C(blue)<%an>%C(auto)%d"

[pull] 
    ff = only

[log]
    date=format:"%a %d/%m/%Y %H:%M"

[include]
    path = ~/.gitconfig_local

[merge]
    tool = diffconflicts
    conflictstyle = diff3

[diff]
    tool = nvimdiff2
    algorithm = patience

[difftool "nvimdiff2"]
    cmd = nvim -d $LOCAL $REMOTE

[difftool]
    trustExitCode = true

[grep]
    lineNumber = true
    fallbackToNoIndex = true
    column = true

[mergetool "diffconflicts"]
    cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true

[mergetool]
    keepBackup = false
